.h5p-cornell {
  --color-base: var(--h5p-theme-main-cta-base);
  --color-button-disabled: #e9e9e4;
  --background-color-button-disabled: #838383;

  --sizing-content-max-width: 1058px;
  --sizing-container-max-width: 1920px;
  --sizing-min-width: 250px;
  --sizing-summary-min-width: 200px;

  background-color: var(--h5p-theme-ui-base);
  container-name: h5p-cornell;
  container-type: inline-size;
  min-width: var(--sizing-min-width);

  & .h5p-question-content {
    margin: 0;

    & .h5p-cornell-container {
      overflow-y: auto;
      max-height: var(--fullscreen-max-height);
    }

    & .h5p-cornell-message-box {
      background-color: var(--h5p-theme-feedback-neutral-third);
      border: 1px solid var(--h5p-theme-feedback-neutral-main);
      box-sizing: border-box;
      color: var(--h5p-theme-feedback-neutral-secondary);
      font-size: var(--h5p-theme-font-size-s);
      padding: var(--h5p-theme-spacing-xxs);

      & .h5p-cornell-message {
        margin: 0;
        text-align: center;
      }
    }

    & .h5p-cornell-panel {
      max-width: var(--sizing-container-max-width);
      margin-left: auto;
      margin-right: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--h5p-theme-spacing-m);
      padding: var(--h5p-theme-spacing-m);

      & .h5p-cornell-exercise-wrapper {
        overflow-y: auto;
      }

      & .h5p-cornell-notes-wrapper {
        display: flex;
        flex-direction: column;
        gap: var(--h5p-theme-spacing-m);
        overflow: visible;
        z-index: 1;
      }

      & .h5p-cornell-notes-content-wrapper {
        display: flex;
        flex-direction: column;
        gap: var(--h5p-theme-spacing-m);
        margin-left: auto;
        margin-right: auto;
        max-width: var(--sizing-content-max-width);
        width: 100%;

        & .h5p-cornell-main-notes-wrapper {
          display: flex;
          flex-direction: row;
          gap: var(--h5p-theme-spacing-m);
          justify-content: space-between;

          & .h5p-cornell-notes-field {
            &.h5p-cornell-main-notes-recall-wrapper {
              width: 30%;
            }

            &.h5p-cornell-main-notes-notes-wrapper {
              width: 70%;
            }
          }
        }

        & .h5p-cornell-summary-wrapper {
          min-width: var(--sizing-summary-min-width, 200px);

          & .h5p-cornell-notes-field {
            &.h5p-cornell-summary-notes-summary-wrapper {
              width: 100%;
            }
          }
        }
      }

      & .h5p-cornell-buttons-wrapper {
        display: flex;
        flex-direction: row;
        gap: var(--h5p-theme-spacing-m);

        & .h5p-cornell-button-save {
          &::before {
            content: "\f0ed";
            font-family: "H5PFontAwesome4", sans-serif;
          }

          &:focus-visible {
            outline: 2px ridge var(--h5p-theme-main-cta-base);
            outline-offset: 2px;
          }

          &.h5p-cornell-disabled {
            background-color: var(--background-color-button-disabled);
            border-color: var(--background-color-button-disabled);
            color: var(--color-button-disabled);
            cursor: inherit;
            pointer-events: none;

            &:focus-visible {
              outline: 2px ridge var(--background-color-button-disabled);
            }
          }
        }

        & .h5p-cornell-button-copy{
          &::before {
            content: "\f0c5";
            font-family: "H5PFontAwesome4", sans-serif;
          }

          &:focus-visible {
            outline: 2px ridge var(--h5p-theme-main-cta-base);
            outline-offset: 2px;
          }
        }
      }
    }
  }
}

@container h5p-cornell (width <= 960px) {
  .h5p-cornell .h5p-question-content .h5p-cornell-panel {
    grid-template-columns: 1fr;
  }
}
