.h5p-cornell {
  --color-base: hsl(212, 79%, 48%);
  --color-base-05: hsla(from var(--color-base) h s l / 0.05);
  --color-base-10: hsla(from var(--color-base) h s l / 0.10);
  --color-base-20: hsla(from var(--color-base) h s l / 0.20);
  --color-base-90: hsla(from var(--color-base) h s l / 0.90);
  --color-base-95: hsla(from var(--color-base) h s l / 0.95);
  --color-button-disabled: #e9e9e4;
  --background-color-button-disabled: #838383;

  --color-dark-text: #4c4452;
  --color-dark-base: #145cad;

  --sizing-content-max-width: 1058px;
  --sizing-container-max-width: 1920px;

  --color-hint-message-background: #f5e8d5;
  --color-hint-message-border: #eedd55;
  --color-hint-message-text: #874e12;

  container-name: h5p-cornell;
  container-type: inline-size;
  min-width: 250px;

  & .h5p-question-content {
    margin: 0;

    & .h5p-cornell-message-box {
      background-color: var(--color-hint-message-background);
      border: 1px solid var(--color-hint-message-border);
      box-sizing: border-box;
      color: var(--color-hint-message-text);
      font-size: .8em;
      padding: .8em;
      width: 100%;

      & .h5p-cornell-message {
        margin: 0;
        text-align: center;
      }
    }

    & .h5p-cornell-panel {
      max-width: var(--sizing-container-max-width);
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-wrap: wrap;

      & .h5p-cornell-exercise-wrapper {
        overflow-y: auto;
        width: 50%;
      }

      & .h5p-cornell-notes-wrapper {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        z-index: 1;
        width: 50%;
      }

      & .h5p-cornell-notes-content-wrapper {
        margin-left: auto;
        margin-right: auto;
        max-width: var(--sizing-content-max-width);
        width: 100%;

        & .h5p-cornell-main-notes-wrapper {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin: 1em 2em 0 2em;

          & .h5p-cornell-notes-field {
            &.h5p-cornell-main-notes-recall-wrapper {
              width: 30%;
            }

            &.h5p-cornell-main-notes-notes-wrapper {
              width: 70%;
            }
          }
        }

        & .h5p-cornell-summary-wrapper {
          margin: .5em 2em .5em 2em;
          min-width: 200px;

          & .h5p-cornell-notes-field {
            &.h5p-cornell-summary-notes-summary-wrapper {
              width: 100%;
            }
          }
        }
      }

      & .h5p-cornell-buttons-wrapper {
        margin-left: 2em;
        width: calc(100% - 4em);

        & .h5p-cornell-button-save {
          &::before {
            content: "\f0ed";
            font-family: "H5PFontAwesome4", sans-serif;
            padding-right: 0.5em;
          }

          &.h5p-cornell-disabled {
            background-color: var(--background-color-button-disabled);
            color: var(--color-button-disabled);
            cursor: inherit;
            pointer-events: none;
          }
        }

        & .h5p-cornell-button-copy::before {
          content: "\f0c5";
          font-family: "H5PFontAwesome4", sans-serif;
          padding-right: 0.5em;
        }
      }
    }
  }
}

@container h5p-cornell (width <= 960px) {
  .h5p-cornell .h5p-question-content .h5p-cornell-panel {
    & .h5p-cornell-exercise-wrapper {
      width: 100%;
    }

    & .h5p-cornell-notes-wrapper {
      width: 100%;
    }
  }
}
