.h5p-cornell {
  min-width: 250px;
}

.h5p-cornell .h5p-cornell-panel {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.h5p-cornell .h5p-question-content {
  margin: 0;
}

.h5p-cornell .h5p-cornell-container {
}

.h5p-cornell.h5p-fullscreen .h5p-cornell-fullscreen-button-wrapper {
  display: none;
}

.h5p-cornell .h5p-cornell-fullscreen-button-wrapper {
  background-color: rgba(76,68,82,0.8);
  border: 0;
  border-radius: 0 0 0 100%;
  height: 1.8em;
  position: absolute;
  right: 0;
  top: 0;
  width: 1.8em;
  z-index: 3;
}

.h5p-cornell .h5p-cornell-title-bar {
  align-items: center;
  background-color: #fff;
  background-size: cover;
  box-shadow: 10px 10px 30px rgba(166,166,166,0.2);
  display: flex;
  overflow: hidden;
  padding: .5em;
}

.h5p-cornell .h5p-cornell-title {
  color: #4c4452;
  flex-grow: 1;
  font-family: Arial;
  font-size: 1.15em;
  font-weight: 700;
  margin: 0;
  overflow: hidden;
  padding: 0 1rem;
  text-decoration: none solid #4c4452;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.h5p-cornell .h5p-cornell-message-box {
  background-color: #f5e8d5;
  border: 1px solid #eedd55;
  box-sizing: border-box;
  color: #9e5c16;
  font-size: .8em;
  padding: .8em;
  width: 100%;

  .h5p-cornell-message {
    margin: 0;
    text-align: center;
  }
}

.h5p-cornell .h5p-cornell-date {
  color: #1a73d9;
  flex-shrink: 0;
  font-family: Arial;
  font-size: 1.15em;
  font-weight: 700;
  margin: 0;
  overflow: hidden;
  padding: 0 1rem 0 0;
  text-decoration: none solid #1a73d9;
}

.h5p-cornell .h5p-cornell-exercise-wrapper {
  transition: width .25s ease-in-out;
  width: 100%;
  overflow-y: auto;
}

.h5p-cornell .h5p-cornell-exercise-wrapper.h5p-cornell-notes-mode.h5p-cornell-narrow-screen {
  width: 0;
}

.h5p-cornell .h5p-cornell-exercise-wrapper.h5p-cornell-notes-mode.h5p-cornell-narrow-screen.h5p-cornell-display-none {
  display: none;
}

.h5p-cornell .h5p-cornell-exercise-content-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1058px;
  width: 100%;
}

.h5p-cornell .h5p-cornell-exercise-content {
  margin: 2em;
}

.h5p-cornell .h5p-cornell-exercise-content-library {
}

.h5p-cornell .h5p-cornell-notes-wrapper {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  transition: width .25s ease-in-out;
  z-index: 1;
  width: 0;
}

.h5p-cornell .h5p-cornell-notes-wrapper.h5p-cornell-display-none {
  display: none;
}

.h5p-cornell .h5p-cornell-notes-wrapper.h5p-cornell-notes-mode {
  width: 100%;
}

.h5p-cornell .h5p-cornell-notes-wrapper .h5p-cornell-buttons-wrapper {
  margin-left: 2em;
  width: calc(100% - 4em);
}

.h5p-cornell .h5p-cornell-notes-wrapper .h5p-cornell-buttons-wrapper .h5p-cornell-button-save {
  &::before {
    content: "\f0ed";
    font-family: "H5PFontAwesome4";
    padding-right: 0.5em;
  }

  &.h5p-cornell-disabled {
    background-color: $background-color-button-disabled;
    color: $color-button-disabled;
    cursor: inherit;
    pointer-events: none;
  }
}

.h5p-cornell .h5p-cornell-notes-wrapper .h5p-cornell-buttons-wrapper .h5p-cornell-button-copy::before {
  content: "\f0c5";
  font-family: "H5PFontAwesome4";
  padding-right: 0.5em;
}

.h5p-cornell .h5p-cornell-notes-content-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1058px;
  width: 100%;
}

.h5p-cornell .h5p-cornell-instructions-wrapper {
}

.h5p-cornell .h5p-cornell-content-separator {
  border-bottom: 2px solid #eee;
  width: 100%;
}

.h5p-cornell .h5p-cornell-main-notes-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em 2em 0 2em;
}

.h5p-cornell .h5p-cornell-main-notes-recall-wrapper {
  margin: .5em;
  width: 30%;
}

.h5p-cornell .h5p-cornell-main-notes-notes-wrapper {
  margin: .5em;
  width: 70%;
}

.h5p-cornell .h5p-cornell-summary-wrapper {
  margin: .5em 2.5em 1em 2.5em;
  min-width: 200px;
}

.h5p-cornell .h5p-video video::-webkit-media-controls-fullscreen-button {
  display: none;
}

.h5p-cornell .h5p-video video {
  width: 100%;
}
