$color-base: #1a73d9;
$color-base-05: rgba($color-base, .05);
$color-base-10: rgba($color-base, .10);
$color-base-20: rgba($color-base, .20);
$color-base-90: rgba($color-base, .90);
$color-base-95: rgba($color-base, .95);

$color-button-disabled: #e9e9e4;
$background-color-button-disabled: #838383;

$color-dark-text: #4c4452;
$color-dark-base: #145cad;

$size-content-max-width: 1058px;
$size-container-max-width: 1920px;

$color-hint-message-background: #f5e8d5;
$color-hint-message-border: #eedd55;
$color-hint-message-text: #874e12;
