@import "./h5p-cornell-main";

.h5p-cornell {
  min-width: 250px;

  .h5p-question-content {
    margin: 0;

    .h5p-cornell-message-box {
      background-color: $color-hint-message-background;
      border: 1px solid $color-hint-message-border;
      box-sizing: border-box;
      color: $color-hint-message-text;
      font-size: .8em;
      padding: .8em;
      width: 100%;

      .h5p-cornell-message {
        margin: 0;
        text-align: center;
      }
    }

    .h5p-cornell-panel {
      max-width: $size-container-max-width;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-wrap: wrap;

      .h5p-cornell-exercise-wrapper {
        overflow-y: auto;
        width: 50%;
      }

      .h5p-cornell-notes-wrapper {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        z-index: 1;
        width: 50%;
      }

      .h5p-cornell-notes-content-wrapper {
        margin-left: auto;
        margin-right: auto;
        max-width: $size-content-max-width;
        width: 100%;

        .h5p-cornell-main-notes-wrapper {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin: 1em 2em 0 2em;

          .h5p-cornell-notes-field {
            &.h5p-cornell-main-notes-recall-wrapper {
              width: 30%;
            }

            &.h5p-cornell-main-notes-notes-wrapper {
              width: 70%;
            }
          }
        }

        .h5p-cornell-summary-wrapper {
          margin: .5em 2em .5em 2em;
          min-width: 200px;

          .h5p-cornell-notes-field {
            &.h5p-cornell-summary-notes-summary-wrapper {
              width: 100%;
            }
          }
        }
      }

      .h5p-cornell-buttons-wrapper {
        margin-left: 2em;
        width: calc(100% - 4em);

        .h5p-cornell-button-save {
          &::before {
            content: "\f0ed";
            font-family: "H5PFontAwesome4";
            padding-right: 0.5em;
          }

          &.h5p-cornell-disabled {
            background-color: $background-color-button-disabled;
            color: $color-button-disabled;
            cursor: inherit;
            pointer-events: none;
          }
        }

        .h5p-cornell-button-copy::before {
          content: "\f0c5";
          font-family: "H5PFontAwesome4";
          padding-right: 0.5em;
        }
      }
    }
  }
}

@media only screen and (max-width: $size-wrapper-min-width) {
  .h5p-cornell .h5p-question-content .h5p-cornell-panel {
    .h5p-cornell-exercise-wrapper {
      width: 100%;
    }

    .h5p-cornell-notes-wrapper {
      width: 100%;
    }
  }
}
