.h5p-cornell-exercise-content-wrapper {
  color: var(--h5p-theme-text-primary);
  margin-left: auto;
  margin-right: auto;
  max-width: var(--sizing-content-max-width);
  width: 100%;

  & .h5p-cornell-exercise-content {
    & .h5p-cornell-content-separator {
      border-bottom: 2px solid var(--h5p-theme-text-third);
      width: 100%;
    }

    & .h5p-video video::-webkit-media-controls-fullscreen-button {
      display: none;
    }

    & .h5p-video video {
      width: 100%;
    }
  }
}
