.h5p-cornell-button {
  aspect-ratio: 1;
  background-color: var(--h5p-theme-contrast-cta-light);
  border: none;
  border-radius: var(--h5p-theme-border-radius-large);
  color: var(--h5p-theme-contrast-cta-white);
  font-size: var(--h5p-theme-font-size-m);
  font-weight: normal;
  position: relative;
  height: calc(2 * var(--h5p-theme-spacing-xs) + var(--h5p-theme-font-size-m));

  &:not(.h5p-cornell-button-disabled) {
    &:focus-visible {
      outline: 2px ridge var(--h5p-theme-main-cta-base);
      outline-offset: 2px;
    }

    &:hover {
      background-color:  color-mix(in srgb, var(--h5p-theme-contrast-cta-light), transparent 60%);
      cursor: pointer;
    }

    &:active {
      background-color:  color-mix(in srgb, var(--h5p-theme-contrast-cta-light), transparent 80%);
    }
  }
}
