@import "@styles/h5p-cornell-main";

.h5p-cornell-notes-field {

  .h5p-text-input-field {
    margin: .5em;

    .h5p-cornell-notes-titlebar {
      align-items: center;
      background: $color-base-10;
      display: flex;
      flex-direction: row;
      padding: .25em .5em;

      .h5p-text-input-field-label {
        color: $color-dark-base;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }

      .h5p-cornell-notes-button-visibility {
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 1.2em 1.2em;
        border: 0px;
        flex-grow: 0;
        height: 1.75em;
        width: 1.75em;

        &:not(.hidden) {
          background-image: url(../../images/button-eye-open-icon-blue.svg);
        }

        &.hidden {
          background-image: url(../../images/button-eye-closed-icon-blue.svg);
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    .h5p-text-input-field-textfield {
      border-color: $color-base-10;
      box-sizing: border-box;
      width: 100%;

      &[disabled="disabled"] {
        background-color: $color-base-05;
      }
    }
  }
}
