.h5p-cornell-title-bar {
  align-items: center;
  box-shadow: 10px 10px 30px rgba(166,166,166,0.2);
  display: flex;
  gap: var(--h5p-theme-spacing-xs);
  overflow: hidden;
  padding: var(--h5p-theme-spacing-m);

  & .h5p-cornell-title {
    color: var(--h5p-theme-text-primary);
    flex-grow: 1;
    font-size: var(--h5p-theme-font-size-xl);
    font-weight: 700;
    margin: 0;
    overflow: hidden;
    text-decoration: none solid var(--h5p-theme-main-cta-base);
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  & .h5p-cornell-date {
    color: var(--h5p-theme-main-cta-base);
    flex-shrink: 0;
    font-size: var(--h5p-theme-font-size-xl);
    font-weight: 700;
    margin: 0;
    overflow: hidden;
    text-decoration: none solid var(--h5p-theme-main-cta-base);
  }

  & .h5p-cornell-button {

    &.h5p-cornell-button-fullscreen {
      &::before {
        content: '\e915';
        font-family: "h5p-theme";
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      &.h5p-cornell-button-disabled {
        display: none;
      }

      &.h5p-cornell-button-active {
        &::before {
          content: '\e914';
          font-family: "h5p-theme";
        }
      }
    }
  }
}
