@import "./../../styles/h5p-cornell-main";

.h5p-cornell-exercise-content-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: $size-content-max-width;
  width: 100%;

  .h5p-cornell-exercise-content {
    margin: 2em;

    .h5p-cornell-content-separator {
      border-bottom: 2px solid #eee;
      width: 100%;
    }

    .h5p-video video::-webkit-media-controls-fullscreen-button {
      display: none;
    }

    .h5p-video video {
      width: 100%;
    }
  }
}
